# Базовая часть

## Задание 1.1

Напишите функцию, которая принимает список чисел my_list (количество товаров разных марок) и число $n$ и возвращает сумму всех чисел списка меньше либо равных $n$ (суммарное количество товаров, которых в наличие меньше либо равно $n$).

In [169]:
def function_1_1(my_list, n):
    slice = [x for x in my_list if x <= n]
    num = sum(slice)
    return num

In [170]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 7) == 31

True

In [171]:
function_1_1([1, 2, 3, 4, 4, 3, 2, 1], 7) == 20

True

In [172]:
function_1_1([1, 2, 3, 4, 4, 3, 2, 1], 3) == 12

True

In [173]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 5) == 18

True

In [174]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 3) == 9

True

In [175]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 0) == 0

True

#### Значение для формы

In [176]:
import random

random.seed(42)
print(function_1_1([random.randint(0, 1000) for _ in range(10000)], 700))

2496584

## Задание 1.2

Имеется список пар (фамилия, долг) $my\_list$ и число $dept$. Нужно написать функцию, которая для каждой фамилии находит суммарный долг и выводит отсортированный список фамилий, у которых долг строго больше $dept$.

Одна и та же фамилия может встречаться несколько раз, и тогда долги по ней суммируются.

In [179]:
def function_1_2(my_list, dept):
    d = dict()
    for surname, num in my_list:
        if surname in d: 
            d[surname] += num
        else:
            d[surname] = num
    lst = [key for key, value in d.items() if value > dept]
    return sorted(lst)

In [178]:
my_list = [('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)]
d = dict()
for surname, num in my_list:
    if surname in d: 
        d[surname] += num
    else:
        d[surname] = num

In [180]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 1) == ['Ivanov', 'Petrov', 'Sidorov']

True

In [181]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 2) == ['Ivanov', 'Sidorov']

True

In [182]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 3) == ['Sidorov']

True

In [183]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 4) == []

True

In [184]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 1), ('Sidorov', 4)], 2) == ['Sidorov']

True

In [185]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 2) == ['Ivanov', 'Petrov']

True

In [186]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 3) == ['Petrov']

True

#### Значение для формы

In [187]:
import random
import numpy as np


random.seed(42)
print(','.join(function_1_2([
    (str(random.randint(1, 20)), random.randint(1, 1000) )
    for _ in range(1000)
], 25000)))

10,11,14,18,19,3,4,5,8,9

# Продвинутая часть

## Задание 2.1

Напишите функцию, принимающую число $n$ и считающую $n!$, не используя модуль math

$n! = 1 \cdot 2 \cdot 3 \cdot \dots \cdot (n - 1) \cdot n$

Подсказка: воспользуйтесь циклами

In [188]:
def function_2_1(n):
    ans = 1
    for x in range(1, n+1):
        ans *= x
    return ans

In [189]:
function_2_1(3) == 6

True

In [190]:
function_2_1(5) == 120

True

In [191]:
function_2_1(9) == 362880

True

In [192]:
function_2_1(13) == 6227020800

True

#### Значение для формы

In [193]:
print(function_2_1(100))

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

## Задание 2.2

Есть два списка чисел: цены товаров в одном магазине и цены товаров в другом магазине.

Нужно сравнить средние (среднее берётся по всем товарам) цены, минимальные цены и максимальные  в магазинах. Если первое зачение меньше надо вернуть 'First', если второе, то 'Second', а если равны, то 'Equal'

Например, function_2_2([1, 2, 3], [2, 2, 2])

В первом магазине среднее значение 2, минимальное 1, максимальное 3. А во втором среднее 2, минимальное 2 и максимальное 2.

Результаты сравнения $2 = 2,~1 < 2,~3 > 2$, поэтому нужно вернуть  ('Equal', 'First', 'Second')

In [200]:
from statistics import mean

def function_2_2(list1, list2):
    lst = []
    def func(a, b):
        if a > b:
            c = 'Second'
        elif a == b:
            c = 'Equal'
        else:
            c = 'First'
        return c
    lst = [func(mean(list1), mean(list2)), func(min(list1), min(list2)), func(max(list1), max(list2))]
    a = tuple(lst)
    return a

In [201]:
function_2_2([1, 2, 3], [2, 2, 2]) == ('Equal', 'First', 'Second')

True

In [202]:
function_2_2([2, 2, 1], [4]) ==('First', 'First', 'First')

True

In [203]:
function_2_2([3, 5], [2, 4, 6]) == ('Equal', 'Second', 'First')

True

In [204]:
function_2_2([1, 7], [2, 4, 7]) == ('First', 'First', 'Equal')

True

#### Значение для формы

In [205]:
import random

random.seed(47)
print(','.join(function_2_2(
    [random.randint(0, 100000) for _ in range(1000)],
    [random.randint(0, 100000) for _ in range(1000)]
)))

Second,First,Second

# Сложная часть

## Задание 3.1

Вам известны количество продаж разных товаров. Они представлены в виде списка, первое значение - число продаж первого товара, второе значение - второго, и так далее. Вы хотите посмотреть на список самых популярных товаров среди тех, у которых объём продаж не выше заданного числа.

Напишите функцию, которая принимает список чисел my_list, число  $n$ и число $k$  и возвращает сумму $k$ наибольших чисел среди всех чисел списка меньше либо равных  $n$ .

In [206]:
def function_3_1(my_list, n, k):
    new_list = sorted(my_list, reverse=True)
    lst = [x for x in new_list if x<=n]
    return sum(lst[:k])

In [207]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 1) == 7

True

In [208]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 3) == 18

True

In [209]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 5) == 25

True

In [210]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 8) == 31

True

In [211]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 10) == 31

True

In [212]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 3) == 18

True

In [213]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 3) == 13

True

In [214]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 3) == 7

True

In [215]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 2) == 12

True

In [216]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 2) == 10

True

In [217]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 2) == 6

True

#### Значение для формы

In [218]:
import random

random.seed(42)
print(function_3_1([random.randint(0, 1000) for _ in range(10000)], 700, 300))

205778

## Задание 3.2

Напишите списковое выражение, генерирующее все простые числа не больше заданного числа

In [219]:
def function_3_2(n):
    lst, final = [], []
    for i in range(2, n+1):
        if i not in lst:
            final.append(i)
            for j in range(i*i, n+1, i):
                #print(j)
                lst.append(j)
    return final

In [220]:
function_3_2(3) == [2, 3]

True

In [221]:
function_3_2(10) == [2, 3, 5, 7]

True

In [222]:
function_3_2(20) == [2, 3, 5, 7, 11, 13, 17, 19]

True

#### Значение для формы

In [223]:
print(sum(function_3_2(10000)))

5736396

# По хардкору

## Задание 4.1

Напишите функцию, которая по множеству, возвращает список всех его подмножеств

In [260]:
import itertools
def function_4_1(my_set):
    l = list(my_set)
    res = []
    res.append(set())
    for i in range(1, len(l) + 1):
        for combo in itertools.combinations(l, i):
            res.append(set(combo))
    return res

In [261]:
function_4_1({1,2,3})

[set(), {1}, {2}, {3}, {1, 2}, {1, 3}, {2, 3}, {1, 2, 3}]

In [262]:
def check_4_1(my_set, function_res):
    if len(function_res) != len(set(map(frozenset, function_res))):
        return False
    if len(function_res) != 2 ** len(my_set):
        return False
    return all(x <= my_set for x in function_res)

In [263]:
check_4_1(set(range(10)), function_4_1(set(range(10))))

True

In [266]:
check_4_1(set(range(1)), function_4_1(set(range(1))))

True

In [267]:
check_4_1(set(range(20)), function_4_1(set(range(20))))

True

#### Значение для формы

In [268]:
print(sum([
    len(subset) - sum(subset) + sum(subset) ** 2
    for subset in function_4_1(set(range(2, 21, 3)))
]))

220416

## Задание 4.2

Напишите функцию раскладывающее число на простые множители

по числу $n$ нужно вернуть список пар $(p_i, c_i)$ такой, что $\prod_i~p_i^{c_i} = n$

In [ ]:
def is_prime(n):
    return n > 1 and all(n % i != 0 for i in range(2, n))

def function_4_2(n):
    return [
        # допишите код здесь
    ]

In [ ]:
def check_4_2(n, my_list):
    prod = 1
    for p, c in my_list:
        if not is_prime(p):
            return False
        prod *= p ** c
    return prod == n

In [ ]:
check_4_2(10, function_4_2(10))

In [ ]:
check_4_2(11690, function_4_2(11690))

In [ ]:
check_4_2(254242, function_4_2(254242))

#### Значение для формы

In [ ]:
print(sum(
    (c + 1) ** (p - 1) * c - p
    for p, c in function_4_2(7648)
))